<body>
	<%= form_tag(sig4_index_path, :method=>'post', :multipart => true) do %>
	  <%= label_tag 'Name' %>
	  <%= text_field_tag :name %>
	  <%= label_tag 'Email' %>
	  <%= text_field_tag :email %>
	  <%= label_tag 'API Key' %>
	  <%= text_field_tag :api_key %>
	  <%= label_tag 'Request Subject' %>
	  <%= text_field_tag :subject %>
	  <%= label_tag 'Request Message' %>
	  <%= text_area_tag :message %>
	  <%= label_tag 'File' %>
      <%= file_field_tag :upload %>
	  <%= label_tag 'Signer Name' %>
	  <%= text_field_tag :signer_name %>
	  <%= label_tag 'Signer Email' %>
	  <%= text_field_tag :signer_email %>
	  <%= label_tag 'Use Text Tags' %>
	  <%= check_box_tag :use_text_tag %>
	  <%= label_tag 'Hide Text Tags' %>
	  <%= check_box_tag :hide_text_tag %> <br>
	  <%= submit_tag 'Create Non-Embedded Signature Request with Document' %>
	<% end %>
	</body>